.footer {
    background-color: rgb(226, 226, 226);
    color: rgb(107, 107, 107);
    padding: 20px;
    margin-top: 200px;
}
a {
    text-decoration: none;
    display: block;
    color: rgb(107, 107, 107);
}
.title {
    color: #009bf5;
}
.input-field {
    font-size: 12px;
}
